extends layout

block content
  h1= title
  ul
    each project in projects
      li
        p Nombre del proyecto: #{project.name}
        p Descripción: #{project.description}
        p Fecha de creación: #{project.created_at}
        a(href=`/projects/view/${project.id}`) Ver
        form(action=`/projects/delete/${project.id}`, method="post", onsubmit="return confirm('¿Estás seguro de eliminar este proyecto?');")
          button(type="submit") Eliminar
