extends layout

block content
  h1= project.name
  p Descripción: #{project.description}
  p Archivo generado: 
    a(href=`/lyrics/${project.filename}`) Descargar archivo SRT
  p Fecha de creación: #{project.created_at}
  p Última modificación: #{project.last_modified}

  if videoExists
    h2 Video Generado
    video(src=videoPath, controls, width='640', height='360') Tu navegador no soporta videos.
  else
    h2 Generar Video Karaoke.
    button(type='button', id='recordButton') Grabar Video
  
  canvas(id='videoCanvas', width='640', height='360', style='display:none; border:1px solid black')

  // Barra de carga
  div(id='progressContainer', style='width: 100%; display: none; margin-top: 20px;')
    div(id='progressBar', style='width: 0%; height: 20px; background-color: green;')

  br
  a(href='/projects') Volver a proyectos

  // Cargar los datos en variables de JavaScript
  script.
    const project = !{project};
    const audio = !{musicPath};
    const lyrics = !{lyrics};
    const timestamps = !{timestamps};

  // Cargar el script de generación de video
  script(src='/javascripts/projectDetail.js')
